<div class="card w-75 mx-auto mt-5" style="min-height: 850px; padding-bottom: 60px;">
    <div class="card-header text-center">
        <div class="input-group mb-2 w-50 mx-auto">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                            <path fill-rule="evenodd"
                                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                        </svg>
                </div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="buscar clase">
        </div>
    </div>
    <div class="container ">
        <div class="row row-cols-3">
            {{#each horarios}}
            <div class="col mt-5">
                <div class="card">
                    <div class="card-header">
                        {{clase.nombre}}
                    </div>
                    <div class="card-body">
                        {{#each horarios}}
                            <p class="card-text"> {{dia}}:  {{apertura}}  -  {{cierre}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{else}}
            <div class="mx-auto text-center">
                <p>agrega una nueva clase</p>
            </div>
            {{/each}}
        </div>
    </div>