<section>
  <h1 class="text-light text-center mt-4">
    Eliminar Academia
  </h1>
  <div class="card mx-auto mt-5" style="width: 90%; margin-bottom: 150px;">
    <div class="card-body">
      <form method="POST" action="/links/UpdateAcademy">
        <div class="row mt-4 ml-4 mr-4">
          <h6>
            <label>
              Nombre de la academia
            </label>
          </h6>
          <input
            name="Nombre"
            type="text"
            class="form-control"
            placeholder="Nombre de la academia"
            value="{{academy.nombre}}"
          />
        </div>
        <div class="row mt-4 ml-2">
          <div class="col">
            <h6>
              <label>
                Contacto
              </label>
            </h6>
            <input
              name="contact"
              type="text"
              class="form-control"
              placeholder="Contacto"
            />
          </div>
          <div class="col mr-4">
            <h6>
              <label>
                Teléfono
              </label>
            </h6>
            <input
              name="Numero"
              type="text"
              class="form-control"
              placeholder="Teléfono"
              value="{{academy.numero}}"
            />
          </div>
        </div>
        <div class="row mt-4 ml-4 mr-4">
          <h6>
            <label>
              Dirección
            </label>
          </h6>
          <input
            name="Direction"
            type="text"
            class="form-control"
            placeholder="Dirección"
            value="{{academy.direction}}"
          />
        </div>
        <div class="row mt-4 ml-4 mr-4">
          <h6>
            <label>
              Latitud
            </label>
          </h6>
          <input
            name="Latitud"
            type="text"
            class="form-control"
            placeholder="Dirección"
            value="{{academy.latitud}}"
          />
        </div>
        <div class="row mt-4 ml-4 mr-4">
          <h6>
            <label>
              Longitud
            </label>
          </h6>
          <input
            name="Longitud"
            type="text"
            class="form-control"
            placeholder="Dirección"
            value="{{academy.longitud}}"
          />
        </div>
        <div class="row mt-4 ml-4">
          <h4 class="mt-2">
            Descripción
          </h4>
        </div>
        <div class="row mt-2 ml-4 mr-4">
          <textarea name="Descripcion" cols="150" rows="4">
            {{academy.descripcion}}
          </textarea>
        </div>
        <div class="row mt-3 ml-4">
          <input
            type="submit"
            id="Update"
            class="btn-hover color-8"
            value="Actualizar"
          />
          <button class="btn-hover color-8">
            <a class="text-light" href="#">
              Cancelar
            </a>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>